

<%@ page import="com.mublog.Subscribe" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'subscribe.label', default: 'Subscribe')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${subscribeInstance}">
            <div class="errors">
                <g:renderErrors bean="${subscribeInstance}" as="list" />
            </div>
            </g:hasErrors>
            <g:form action="save" >
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="follower"><g:message code="subscribe.follower.label" default="Follower" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: subscribeInstance, field: 'follower', 'errors')}">
                                    <g:select name="follower.id" from="${com.mublog.ShiroUser.list()}" optionKey="id" value="${subscribeInstance?.follower?.id}"  />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="followee"><g:message code="subscribe.followee.label" default="Followee" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: subscribeInstance, field: 'followee', 'errors')}">
                                    <g:select name="followee.id" from="${com.mublog.ShiroUser.list()}" optionKey="id" value="${subscribeInstance?.followee?.id}"  />
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
