<g:applyLayout name="main">
<html>
  <head>
    <title>Пользователи</title>
  </head>
  <body>
    <div class="info">
      <h1>Ошибка</h1>
      
      <h3>${error}</h3>
    </div>
  </body>
</html>
</g:applyLayout>