<html>
<head>
  <meta name="layout" content="main" />
  <title>Написать пост</title>
</head>
<body>
  <h1>Новый пост</h1>
  <div class="well-large">
    <g:render bean="${postInstance}" template="/post/form" var="post" />
  </div>
</body>
</html>
